# Task1
Write a Python program to add an item to a tuple.

In [2]:
t = (1,2,3,4,5,6)

In [3]:
lstt = list(t)

In [6]:
lstt.append(7)

In [7]:
t = tuple(lstt)

In [8]:
print (t)

(1, 2, 3, 4, 5, 6, 7)

# Task2
Write a Python program to sum all the items in a list.

In [12]:
lst1 = [1,2,3,4,5,6,10]

In [13]:
total = sum(lst1)

In [14]:
print (total)

31

# Task3
Write a Python program to multiply all the items in a list.

In [ ]:
                                               #first solution  :

In [15]:
import math

In [16]:
result = math.prod(lst1)

In [17]:
print(result)

7200

In [ ]:
                                            #second solution by using loop:

In [21]:
result = 1
for item in lst1:
    result*=item

print(result)

7200

# Task4
Write a Python program to get the smallest number from a list.

In [22]:
smallest = min(lst1)

In [23]:
print (smallest)

1

# Task5
Write a Python program to get the largest number from a list.

In [25]:
largest = max(lst1)

In [26]:
print(largest)

10

# Task6 
Write a Python program to count the number of strings from a given list of 
strings.

In [29]:
lst2= ["apple", 123, "banana", True, "orange", "grape", "mango"]

In [31]:
numStrings = sum(isinstance(item,str)for item in lst2)                  # isinstance function
print(numStrings)

5

In [36]:
count = 0                                                             # by for loop and if condition 
for item in lst2:
    if type(item) == str:
        count += 1
print (count)

5

# Task7
Write a Python program to clone or copy a list

In [38]:
lst3= lst2.copy()

In [39]:
print(lst3)

['apple', 123, 'banana', True, 'orange', 'grape', 'mango']

# Task8
Write a Python program to remove item(s) from a given set.

s = set([0, 1, 3, 4, 5])

In [40]:
s = set([0, 1, 3, 4, 5])
s.remove(5)

In [41]:
print(s)

{0, 1, 3, 4}

# Task9
Write a Python program to find the maximum and minimum values in a set.

In [45]:
maximum = max(s)
minimum = min(s)

In [46]:
print(f"the maximum number is : {maximum} and the minimum number is : {minimum}")

the maximum number is : 4 and the minimum number is : 0

# Task10
Write a Python program to convert a tuple to a dictionary.

In [4]:
def convert_tuple_to_dict(tup):
    return dict(tup)

t1 = (('a', 1), ('b', 2), ('c', 3))
print(convert_tuple_to_dict(t1))

{'a': 1, 'b': 2, 'c': 3}

# Task11
Write a Python program to reverse a tuple.

In [78]:
t = (1,2,3,4,5,6)
lst3 = list(t)

In [82]:
lst3 = lst3[::-1]

In [83]:
t = tuple(lst3)

In [85]:
print (t)

(6, 5, 4, 3, 2, 1)

# Task12
Write a Python program to convert a list of tuples into a dictionary

In [2]:
def listOftupleTodict(tup):
    return dict(tup)

d1 = {'a': 1, 'b': 2, 'c': 3}
print(listOftupleTodict(d1))

{'a': 1, 'b': 2, 'c': 3}

# Task13
Write a Python program to replace the last value of tuples in a list.

Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [90]:
ls = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

lst4 = list (ls[-1])

In [94]:
lst4[-1] = 100
lst4

[70, 80, 100]

In [96]:
t5 = tuple (lst4)
t5

(70, 80, 100)

In [97]:
ls[-1] = t5

In [99]:
print(ls)

[(10, 20, 40), (40, 50, 60), (70, 80, 100)]

# Task14
Remove the illegal characters in the variable name:

var_name = "%%6my name is ami^t"

illegal_chars = "0123456789!@#$%^&*()-+=[]{}|\\;:'\",.<>/?~"

output is "my name is amit"

In [138]:
var_name = "%%6my name is ami^t"
illegal_chars = "0123456789!@#$%^&*()-+=[]{}|\\;:'\",.<>/?~"

In [139]:
listOfillegal = []

for i in range(len(illegal_chars)) :
    listOfillegal.append(illegal_chars[i])
    
for i in range (len(listOfillegal)):
    if listOfillegal[i] in var_name:
        var_name = var_name.replace(listOfillegal[i],"")
var_name

'my name is amit'

# Task15
Write a Python program to print the even and odd numbers in a series of numbers

Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
    
Expected Output :
    
Number of even numbers : 2,4,6,8
    
Number of odd numbers : 1,3,5,7,9

In [141]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)

In [145]:
numberlist = list(numbers)
numberlist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [158]:
even = []
odd = []
for i in range(len(numberlist)):
    if numberlist[i] % 2 == 0 :
       even.append(numberlist[i])
    else:
        odd.append(numberlist[i])
print (f"Number of even numbers : {even}")
print (f"Number of odd numbers : {odd}")

Number of even numbers : [2, 4, 6, 8]
Number of odd numbers : [1, 3, 5, 7, 9]

# Task16
Write a Python program that iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for multiples of five print "Buzz". For numbers that are multiples of three and five, print "FizzBuzz".

In [162]:
for i in range (101):
    if i%3 ==0 :
        print (f"Fizz and the number is {i}")
    if i%5 == 0 :
        print(f"Buzz and the number is {i}")
    if i%3 == 0 and i%5==0 :
        print (f"FizzBuzz and the number is {i}")

Fizz and the number is 0
Buzz and the number is 0
FizzBuzz and the number is 0
Fizz and the number is 3
Buzz and the number is 5
Fizz and the number is 6
Fizz and the number is 9
Buzz and the number is 10
Fizz and the number is 12
Fizz and the number is 15
Buzz and the number is 15
FizzBuzz and the number is 15
Fizz and the number is 18
Buzz and the number is 20
Fizz and the number is 21
Fizz and the number is 24
Buzz and the number is 25
Fizz and the number is 27
Fizz and the number is 30
Buzz and the number is 30
FizzBuzz and the number is 30
Fizz and the number is 33
Buzz and the number is 35
Fizz and the number is 36
Fizz and the number is 39
Buzz and the number is 40
Fizz and the number is 42
Fizz and the number is 45
Buzz and the number is 45
FizzBuzz and the number is 45
Fizz and the number is 48
Buzz and the number is 50
Fizz and the number is 51
Fizz and the number is 54
Buzz and the number is 55
Fizz and the number is 57
Fizz and the number is 60
Buzz and the number is 60
FizzBuzz and the number is 60
Fizz and the number is 63
Buzz and the number is 65
Fizz and the number is 66
Fizz and the number is 69
Buzz and the number is 70
Fizz and the number is 72
Fizz and the number is 75
Buzz and the number is 75
FizzBuzz and the number is 75
Fizz and the number is 78
Buzz and the number is 80
Fizz and the number is 81
Fizz and the number is 84
Buzz and the number is 85
Fizz and the number is 87
Fizz and the number is 90
Buzz and the number is 90
FizzBuzz and the number is 90
Fizz and the number is 93
Buzz and the number is 95
Fizz and the number is 96
Fizz and the number is 99
Buzz and the number is 100

# Task17
After you have finished the second session, can you explain briefly what information was learned and also what information you learned through the search?